/* variables */
:root {
	--primary: #41b2ad;
	--secondary: #fff;
	--success: #3bad4b;
	--info: #66c0da;
	--warning: #f7ca2e;
	--danger: #f86c6b;
	--dark: #333333;
	--grey: #e3e3e3;

	--site-bg: #ffd699;
	--site-bg-contrast: #ffffff;
	--text-color: #333333;
	--text-color-light: #69748c;
	--text-color-contrast: #ffff;
	--link-color: #41b2ad;
	--link-color-active: #14eede;
	--border-color: #d2d4d8;
	--border-color-active: rgba(102,192,218,.8);
	--btn-bg: #41b2ad;
	--btn-text: #ffffff;
}
